*.swp
/.gradle/

/.idea/
!/.idea/scopes
!/.idea/copyright
!/.idea/icon.png
!/.idea/inspectionProfiles
!/.idea/fileTemplates
!/.idea/runConfigurations
!/.idea/codeStyles

/build/
/out/
/tmp/

*.DS_Store

.teamcity/.idea
.teamcity/target
.teamcity/*.iml

# Created by github automation
settings.xml
