# This workflow will build a package using Gradle and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#Publishing-using-gradle

name: Testing CI integrations

on:
  workflow_dispatch:
  schedule:
    - cron: '0 5 * * *'

jobs:
  build:

    runs-on: ubuntu-latest
    if: github.repository == 'JetBrains/ideavim'

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 300
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Run tests
        run: ./gradlew integrationsTest
        env:
          YOUTRACK_TOKEN: ${{ secrets.YOUTRACK_TOKEN }}
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
