# This workflow will build a package using Gradle and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#Publishing-using-gradle

name: Update Changelog On PR (Test)

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 50
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Update authors
        id: update_authors
        run: ./gradlew updateMergedPr -PprId=525
        env:
          GITHUB_OAUTH: ${{ secrets.MERGE_PR }}

#      - name: Commit changes
#        uses: stefanzweifel/git-auto-commit-action@v4
#        with:
#          branch: master
#          commit_message: Update changelog  after merging PR
#          commit_user_name: Alex Plate
#          commit_user_email: aleksei.plate@jetbrains.com
#          commit_author: Alex Plate <aleksei.plate@jetbrains.com>
#          file_pattern: CHANGES.md
