name: PR Verification

on:
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Run tests
        run: ./gradlew clean test -x :tests:property-tests:test -x :tests:long-running-tests:test
        env:
          ORG_GRADLE_PROJECT_downloadIdeaSources: false
          ORG_GRADLE_PROJECT_instrumentPluginCode: false

      - name: Upload problems report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: problems-report
          path: build/reports/problems/
          if-no-files-found: ignore
