name: Run UI PyCharm Tests
on:
  workflow_dispatch:
  schedule:
      - cron: '0 12 * * *'
jobs:
  build-for-ui-test-mac-os:
    if: github.repository == 'JetBrains/ideavim'
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 17
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Setup FFmpeg
        uses: FedericoCarboni/setup-ffmpeg@v3
        with:
          # Not strictly necessary, but it may prevent rate limit
          # errors especially on GitHub-hosted macos machines.
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2.4.2
      - name: Build Plugin
        run: gradle :buildPlugin
      - name: Run Idea
        run: |
          mkdir -p build/reports
          gradle :runIdeForUiTests -PideaType=PC > build/reports/idea.log &
      - name: Wait for Idea started
        uses: jtalk/url-health-check-action@v3
        with:
          url: http://127.0.0.1:8082
          max-attempts: 20
          retry-delay: 10s
      - name: Tests
        run: gradle :tests:ui-py-tests:testUi
      - name: Move video
        if: always()
        run: mv tests/ui-py-tests/video build/reports
      - name: Move sandbox logs
        if: always()
        run: mv build/idea-sandbox/system/log sandbox-idea-log
      - name: Save report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ui-test-fails-report-mac
          path: |
            build/reports
            tests/ui-py-tests/build/reports
            sandbox-idea-log